table,th,td {
  /* border: 1px solid black; */
  border-collapse: collapse;
  margin-left: auto;  
  margin-right: auto;  
  width: 70%;
}
th,td {
  padding: 5px;

}
td{
  text-align: center;
}
th {
  background-color: #FFB500;
  font-size: 20px;
}
td {
  background-color: #FDDF95;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
h2{  
  text-align: center;
}
.create{
  margin-left: 45%;
  display: inline-block;
  margin-top: 1%;
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
}

.p1{
  padding-left: 18%;
  font-size: 20px;
  font-weight: bold;
  font-family: Monospace;
  margin: 0px;
}

.edit{
  border: none;
  color: white;
  background-color: #FDDF95;
  /* display:inline-block; */
}

.delete{
  border: none;
  color: white;
  background-color: #FDDF95;
  margin-top: 10%;
} 

.action{
  width: 100px;
  display: inline-block;
}

.delete-icon{
  transform: scale(.8);
  color: red;
}

.update-icon{
  transform: scale(.8);
  color: blue;
}