html, body {
    width: 100%;
    height: 100%;
}

.first{
    margin-top: 2%;
    margin-left: 32%;
    margin-right: 32%;
    height: 75%;
    border: 2px rgb(109, 109, 235) solid;
}

.header{
    background-color: rgb(109, 109, 235);
    text-align: center;
    color: white;
    height: 7%;
}

.content{
    text-align: left;
    color: black;
    height: 100%;
    font-weight: bold;

    padding-top: 20px;
    padding-left: 20px;
}

.input1{
    width: 90%;
    padding-top: 1%;
    padding-bottom: 2%;
    padding-left: 5px;
    margin-bottom: 15px;
    border: 2px green solid;
}

label{
    font-size: 15px;
    font-weight: normal;
}

.submit{
    background-color: rgb(109, 109, 235);
    align-self: right;
    padding: 5px 20px 5px 20px;
    margin-top: 1%;
    border: none;
    color: white;
}

.footer{
    background-color: rgb(238, 234, 230);
    text-align: center;
    color: white;
}

h1{
    text-align: center;
    margin: 0px;
}

.list{
    background-color: #008CBA;
    float : right;
    margin-right: 3%;
    border: none;
    padding: 10px 30px;
    color: white;
}

h5{
    color: red;
    padding: 0px;
    margin: 0px;
}