
<a href="/students"><button class="list">List</button></a>
    <div class="first">
        <div class="header">
            <h1>Registration Form</h1>
        </div>
        <form [formGroup]="studentForm" (ngSubmit)="onSubmit()">
        <div class="content">

                First Name <br><input type="text" id="fname"class="input1" formControlName="first_name" name="first_name" placeholder="Enter First Name" /><br>
                Last Name <br><input type="text" id="lname" class="input1" formControlName="last_name" name="last_name" placeholder="Enter Last Name" />
                Gender <br><input type="radio" formControlName="gender" name="gender" id="male" value="male"/><label for="html">Male</label>
                <input type="radio" id="female" formControlName="gender" name="gender" value="female"/><label for="html">Female</label>
                <input type="radio" id="others" formControlName="gender" name="gender" value="others"/><label for="html">Others</label><br><br>
                Address <br><input type="text" class="input1" id="address" formControlName="address" name="address" placeholder="Enter Address" /><br>
                Email <br><input type="email" class="input1" id="email" formControlName="email" name="email" placeholder="Enter Email" /><br>
                Phone <br><input type="text" class="input1" id="phone" formControlName="phone" name="phone" placeholder="Enter Phone" />
        </div>

        <div class="footer">
            <button id="submitbtn" class="submit" type="submit">Submit</button>
        </div>
    </form>
    </div>